*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // font-size: 62.5%;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  font-family: 'Segeo UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1, h2, h3 {
  // margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.5rem 1.6rem;
    background: rgba(lighten($primary-color, 2), .5);
  }
}

a {
  text-decoration: none;
  color: #fff;
}
