header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  min-height: calc(100vh - 60px);

  .icons {
    text-align: center;
    position: relative;

    a {
      padding: 0.4 rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }

      i {
        margin: 0 0.5rem;
      }
    }
  }

  &#home {
    overflow: hidden;
    position: relative;

    h1 {
      margin-top: 20vh;
    }

    #menu-trigger {
      border-radius: 2px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 3rem;
      font-size: 1rem;
      color: white;
      font-weight: 700;

      &:hover {
        color: black;
      }
    }
  }
}