.projects {
  display: grid;
  grid-gap: 0.7rem;

  .item {
    display: grid;
    grid-template-rows: 35vh min-content min-content;
    .fas, .fab {
      margin-right: .4rem;
    }
    img {
      width: 100%;
      height: 100%;
      &:hover {
        opacity: 0.5;
        border-color: $secondary-color;
        @include easeOut;
      }
    }

    &.proj1 {
      a:first-child {
        background: url("../img/projects/project1.png") no-repeat center;
        @include project
      }
    }

    &.proj2 {
      a:first-child {
        background: url("../img/projects/project2.png") no-repeat top;
        @include project
      }
    }

    &.proj3 {
      a:first-child {
        background: url("http://i.imgur.com/GQ3O5uE.png") no-repeat center;
        @include project
      }
    }

    &.proj4 {
      a:first-child {
        background: url("http://i.imgur.com/nTZZ3ik.jpg") no-repeat center;
        @include project
      }
    }

    &.proj5 {
      a:first-child {
        background: url("http://i.imgur.com/shRa50Z.jpg") no-repeat center;
        @include project
      }
    }

    &.proj6 {
      a:first-child {
        background: url("http://i.imgur.com/W9KJsKW.jpg") no-repeat center;
        @include project
      }
    }

    &.proj7 {
      a:first-child {
        background: url("http://cucsa.org.uk/wp-content/uploads/2015/10/Work_In_Progress.png") no-repeat center;
        @include project
      }
    }

    .overlay {
      background-color: rgba(48, 57, 92, .9);
      position: relative;
      left: -20%;
      height: 100%;
      transition: all 1s ease;
      opacity: 0;
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-style: italic;
        h3 {
          font-weight: bold;
        }
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
        left: 0;
      }
    }
  }
}
